* {
    box-sizing: border-box;
  }
  /* ======================
CHOIX POLICE
========================= */
  body {
      font-family: 'Cairo', serif;
  }
  /* ======================
IMAGES RESPONSIVES
========================= */
img {
    max-width: 100%;
    height: auto;
    
  }

/* CLEARFIX
================================================== */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* ======================
HEADER
================================================== */


header {
    background: #B22222;
    text-align: center;
    padding: 1.5em 1em 1em 1em;
}

#titrePrincipal {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .05em;
} 

/* ======================
NAVIGATION
========================= */

#mainnav {
    background: #333;
    color: #fff;
    font-weight: bold;
    text-transform:uppercase;
    letter-spacing: .05em;
}

#mainnav #menu {
    display: none;
    padding: .8em 1.5em;
    cursor: pointer;
}


#mainnav ul {
    display: block;
    margin: 0;
    text-align: center;
}

#mainnav ul li {
    margin: 0;
    list-style: none;
    display: inline-block;
}

#mainnav ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: .9em 1.5em .8em 1.5em;
}

#mainnav ul li a:hover {
    color: #000;
    background: #aaa;
}

.content {
	  padding: 1.5em;
}
/*======================
CAROUSEL
=======================*/
.wrapper {
    width: 100%;
    max-width: 1180px;
    margin: auto auto;
    margin-top: 50px;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .carousel {
    width: 100%;
    max-width: 1180px;
    height: 250px;
  }
  
  .controls {
    position: absolute;
    width: 100%;
    max-width: 1180px;
    padding: 0px 20px;
    box-sizing: border-box;
    margin-top: 100px;
  }
  
  .arrow {
    font-size: 40px;
    color: rgba(255,255,255,0.5);
    transition: all 200ms ease-in-out;
    cursor: pointer;
  }
  
  .arrow:hover {
    color: rgba(255,255,255,1);
    transform: scale(1.2);
  }
  
  .arrow-left {
    float: left;
  }
  
  .arrow-right {
    float: right;
  }
  
  .dots {
    position: absolute;
    top: 275px;
    left: 48%;
    right: 48%;
  }
  
  .navi-dot {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    float: left;
  }
  
  .dot-left {
    margin-right: 10px;
  }
  
  .active {
    background-color: rgba(255,255,255,1);
    pointer-events: none;
    transition: all 300ms ease-in-out;
  }
  
  .inactive {
    background-color: rgba(255,255,255,0.25);
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  
  .inactive:hover {
    background-color: rgba(255,255,255,0.5);
  }
  
  .slides {
    overflow: hidden;
    width: 200%;
    margin-right: -100%;
    transition: 500ms all ease-in-out;
  }
  
  .slide {
    width: 100vw;
    max-width: 1180px;
    box-sizing: border-box;
    float: left;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: none;
  }
  
  
  .slide img {
    width: 100%;
    margin-top: -180px;
  }
  
  .move {
    margin-left: -100%;
  }
  
  .hide {
    display: none;
  }
  
/* ======================
QUIZ
========================= */
.question{
    font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
#submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit:hover{
    background-color: #38a;
}

/* ======================
MEDIA QUERIES
========================== */

/* Tablet (Between 768px - 992px)*/
@media all and (min-width: 768px) and (max-width: 992px) {

}

/* MOBILE (Smaller than 768px)*/
@media all and (max-width: 767px) {
	
    #mainnav #menu {
        display: block;
    }

    #mainnav ul {
        display: none;
        background: #666;
        padding: 1em;
        text-align: left;
    }
    #mainnav ul li {
        display: block;
    }

    #mainnav ul li a {
        display: block;
        padding: .75em 1.5em .5em 1.5em;
    }

}